<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uy.bbs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 定位所需的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.uy.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 友盟App Key, 必须替换为您在友盟官网上申请到的. -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55560482e0f55a3d55000a1e" />
        <!-- 友盟推送的app secret, 如果不使用友盟推送可以删除 -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="	5ec1261638fd311faf3c5fbdc80a9e4f" />

        <activity
            android:name="activity.MainActivity_"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />
        <activity
            android:name="activity.WelcomeActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="activity.LoginActivity" />
        <activity
            android:name="choosephoto.activity.PhotoAlbumActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="choosephoto.activity.PhotoWallActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="activity.UserDetailActivity_"
            android:theme="@style/NoActionBar" />
        <activity android:name="activity.SetUserInfoActivity_" />
        <activity
            android:name="activity.EditPhotoActivity_"
            android:launchMode="singleInstance" />
        <activity
            android:name="activity.EditUserHeaderActivity_"
            android:launchMode="singleInstance" />
        <!--相机-->
        <activity
            android:name="camera.CameraActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="editimage.EditImageActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name="community.activity.TopicDetailActivity_" />
        <activity android:name="community.activity.HotTopicActivity_" />
        <activity android:name="community.activity.LocationFeedActivity" />
        <activity android:name="community.activity.FeedListActivity_" />
        <activity android:name="community.activity.PostFeedActivity_" />
        <activity android:name="community.activity.LikeUsersActivity" />
        <activity android:name="community.activity.FollowedUserActivity_" />
        <activity android:name="community.activity.ForwardActivity_" />
        <activity android:name="choosephoto.activity.PhotoPreviewActivity_" />
        <activity android:name="community.activity.FollowedTopicActivity_" />
        <activity android:name="community.activity.AlbumActivity_" />
        <!-- youmeng -->
        <!-- 发现的Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 搜索结果Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.RelativeUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!--  -->
        <activity
            android:name="com.umeng.comm.ui.activities.ForwardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 搜索Activity -->
        <activity
            android:name="com.umeng.comm.ui.activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- feed详情页面 -->
        <activity
            android:name="community.activity.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateUnchanged|adjustPan" />

        <!-- 设置页面activity -->
        <activity android:name="com.umeng.comm.ui.activities.SettingActivity" />

        <!-- 引导页面activity -->
        <activity android:name="com.umeng.comm.ui.activities.GuideActivity" />

        <!-- 点赞用户页面 -->
        <activity android:name="com.umeng.comm.ui.activities.LikeUsersActivity" />

        <!-- 显示某个位置Feed的Activity -->
        <activity android:name="com.umeng.comm.ui.activities.LocationFeedActivity" />
        <activity
            android:name="com.umeng.comm.ui.activities.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.umeng.comm.ui.activities.AlbumActivity" />
        <activity android:name="com.umeng.comm.ui.activities.FollowedTopicActivity" />
        <activity android:name="com.umeng.comm.ui.activities.NotificationActivity" />
        <activity android:name="com.umeng.comm.ui.activities.NewMsgActivity" />
        <!-- 微博版activity组件 end -->


        <!-- ##################### 推送相关 ##################### -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false"
            android:process=":push" />
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.uy.bbs.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push">
            <intent-filter>
                <action android:name="com.uy.bbs.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.uy.bbs.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- ###################分享相关Activity################## -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 图片选择相关 -->
        <activity android:name="com.umeng.comm.ui.imagepicker.PhotoSelectorActivity" />
        <activity android:name="com.umeng.comm.ui.imagepicker.PhotoPreviewActivity" />

    </application>

</manifest>
